ipywidgets==8.1.1
datasets==2.14.5
rouge-score==0.1.2
nltk==3.8.1
fastapi==0.101.1
typing-extensions==4.5.0
llama-cpp-python==0.2.11
uvicorn[standard]==0.23.2
tensorflow==2.13.0
click==8.1.7
pandas==2.0.3
milvus==2.2.8
pymilvus==2.2.8
gradio==3.37.0
transformers==4.31.0
torch==2.0.1
accelerate==0.21.0
pinecone-client==2.2.4
sentence-transformers==2.2.2