# ipywidgets==8.1.1
# datasets==2.14.5
# rouge-score==0.1.2
# nltk==3.8.1
# fastapi==0.101.1
# typing-extensions==4.5.0
# uvicorn[standard]==0.23.2
# tensorflow==2.13.0
# huggingface-hub==0.18.0
# click==8.1.7
# pandas==2.0.3
# milvus==2.2.8
# pymilvus==2.2.8
# gradio==3.37.0
# transformers==4.31.0
# torch==2.0.1
# accelerate==0.21.0
# pinecone-client==2.2.4
# sentence-transformers==2.2.2


## LLM Requirements
ipywidgets==8.1.1
datasets==2.14.5
rouge-score==0.1.2
nltk==3.8.1
fastapi==0.101.1
typing-extensions==4.5.0
uvicorn[standard]==0.23.2
tensorflow==2.15.0.post1
click==8.1.7
pandas==2.0.3
gradio==3.44.4
transformers==4.33.1
torch==2.0.1
accelerate==0.21.0
huggingface-hub==0.18.0
langchain

## Build custom knowlege base requirements
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
requests==2.31.0
urllib3==1.25.4

## Pinecone/Vector DB Requirements
pinecone-client==2.2.4
sentence-transformers==2.2.2

## Chroma Vector DB Requirements
chromadb==0.4.15
pysqlite3-binary==0.5.2.post1
sentence-transformers==2.2.2

## Model requirements
setuptools==58.1.0
bitsandbytes==0.39.1
scipy==1.11.1
git+https://github.com/huggingface/peft.git@0b62b4378b4ce9367932c73540349da9a41bdea8